<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ahhn.com.t08.cuserMapper">

    <!--添加二级缓存标签-->
    <cache/>

    <select id="getUser" parameterType="int" resultType="_CUser">
        SELECT * FROM c_user WHERE id=#{id}
    </select>

    <update id="updateUser" parameterType="_CUser">
        UPDATE c_user SET NAME=#{name},age=#{age} WHERE id=#{id}
    </update>

</mapper>