<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ahhn.com.t06.userMapper">
    <select id="getUser" parameterType="_ConditionUser" resultType="_User06">
        SELECT * FROM d_user WHERE d_user.age BETWEEN #{minAge} AND #{maxAge}
        <if test='name!="%null%"'>AND name LIKE #{name}</if>
    </select>
</mapper>